.App {
  text-align: center;
}

body {
  margin: 0;
  height: auto;
  width: auto;
  overflow: auto;
  align-items: center;
}

.links {
  padding-top: 70;
  padding: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
}

.links a {
  text-decoration: none;
}


.links a i:hover {
  color: #5F8FBB;
  font-size: 45px;
  border: 1px solid color(var(--white) a(0.6));
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin: 15 20px;
}

.link {
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
}

.title {
  text-align: center;
  border: 3px solid #3E96DD;
  font-size: 26px;
  font-weight: 500;
  padding: 8px 16px;
  width: 10vw;
  margin: auto;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: space-around;
}


.img-with-text {
  width: 320px;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}

.img-with-text a {
  color: rgb(19, 19, 179);
}

.about .image-container {
  width: 320px;
  height: 220px;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
}

.image-container img {
  width: 320px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}

.image-caption {
  width:100%;
  height:30%;
  background:rgba(0, 0, 0, 0.3);
  position:absolute; 
  opacity:0;
  bottom: 0; 
  left: 0;
  transition:all 300ms ease-in-out;
  -webkit-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  -ms-transition:all 300ms ease-in-out;
}

.image-caption h1{
  text-align:center;
  margin:10px;
  text-transform:uppercase;
  font-family: 'Indie Flower';
  font-size:10px;
  color: white;
}

.image-container:hover .image-caption{
  opacity:1;
}

.about {
  text-align: center;
  padding: 40px;
}

.experience {
  padding: 40px;
  background-color: rgb(212, 206, 206);
  text-align: left;
}

.projects {
  padding: 40px;
  text-align: center;
}

.projects p {
  font-size: large;
}

.interests {
  padding: 40px;
  background-color: rgb(212, 206, 206);
}

.nav-button {
  padding: 5px;
  transition: 0.3s;
}

.nav-button:hover {
  color: rgb(151, 42, 165);
}